<style type="text/css">
.form{text-align: center;
      font-size: 20px;
      font-family: sans-serif;
      background-color: gray;

}
.button{
background: orange;
width: 20%;
margin-top: 20px;
height: 30px;
border-radius: 30px;
margin-right: 20px;
text-align: center;
box-shadow: 4px 5px 6px #C8CBC2;
border-bottom-style: groove;
border-top-style: groove;
border-top-color: #79E9F4;
border-bottom-color: #5EB0D8;

}
</style>
{% extends "base.html"%}
{%block content%}

<form method="POST" class="form" >{%csrf_token%}
	<h1 class="h1">Reset Password</h1>
	<input type="email" name="email" placeholder="Email Address" id="id_email" required="true">
	<button class="button" type="submit">send reset email</button>
</form>
{% endblock %}